# Ensure public registry is used
registry=https://registry.npmjs.org/
# Avoid 403 errors by using always-auth=false
always-auth=false
# Use legacy peer deps to avoid dependency conflicts
legacy-peer-deps=true
